@font-face {
  font-family: 'PS Regular';
  src: url('/assets/fonts/Product Sans Regular.ttf');
}

@font-face {
  font-family: 'PS Bold';
  src: url('/assets/fonts/Product Sans Bold.ttf');
}

@font-face {
  font-family: 'PS Italic';
  src: url('/assets/fonts/Product Sans Italic.ttf');
}
